.btn-primary {
    color: black;
    background-color: black;
    border-color: #007bff;
    margin: 5px;

    }

.gifDiv {
display: inline-block;
float:left;
margin: 15px;
padding: 15px;

}
.jumbutron{
  width:1000px;
      font-family: 'Indie Flower', cursive;
      color:gray;
      margin-bottom: 2rem;
background-color: #ffc107;
}
ss

}
